.main-server-side-bar {
  background-color: #202225;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}
.main-server-servers {
  background: #3b3f43;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-radius 128ms, background 128ms, color 128ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-alias-to-li {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-server-servers-icon {
  width: inherit;
  border-radius: inherit;
  transition: border-radius 128ms;
  cursor: pointer;
}

.main-server-servers-icon:hover {
  border-radius: 36%;
}

.main-server-servers:hover::before {
  transform: translate(-88%, -50%) scale(0.5);
}

.main-server-servers::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  border-radius: 8px;
  top: 50%;
  transform: translate(-88%, -50%) scale(0);
  transition: transform 180ms;
}

.main-server-servers:hover {
  border-radius: 36%;
}
.main-server-side-bar-container {
  /* position: fixed;
  top: 0;
  bottom: 0; */
  /* width: 100%; */
  overflow-y: scroll;
}
.main-server-side-bar-container::-webkit-scrollbar {
  display: none;
}
.main-server-divider {
  width: 100%;
  background: #fff;
  height: 2px;
  border-radius: 1px;
  opacity: 0.06;
  transform: scale(0.75);
}
.main-server-servers-name {
  background-color: #1a191d;
  padding: 0.68rem 1rem;
  position: absolute;
  width: max-content;
  border-radius: 4px;
  top: 50%;
  left: 140%;
  transform-origin: left;
  transform: translateY(-45%) scale(0.98);
  opacity: 0;
  transition: opacity 64ms transform 128ms cubic-bezier(0.43, 0.09, 0.38, 2.56);
  pointer-events: none;
  color: #fff;
  z-index: 1000;
}

.main-server-servers:hover .main-server-servers-name {
  opacity: 1;
  transform: translateY(-45%) scale(1);
}
.main-server-servers-name::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background: #1a191d;
  width: 1rem;
  height: 1rem;
  z-index: -1;
}
.main-server-servers-name-text {
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
.purple-hover:hover {
  background: #5865f2;
}
.green-hover:hover {
  background: #3ba55d;
}
.green-hover:hover svg {
  fill: #fff;
}
.green-hover {
  fill: #3ba55d;
}

.test-div {
  height: 400vh;
  background-color: aqua;
}

.server-servers-name-initial {
  color: #fff;
  font-size: 1.63rem;
  font-weight: 600;
}

.quicklildiv {
  display: none;
  z-index: 1000;
  pointer-events: none;
  background-color: #1a191d;
  padding: 0.68rem 1rem;
  width: max-content;
  border-radius: 4px;
  top: 50%;
  left: 140%;
  transform-origin: left;
  transform: translateY(-45%) scale(0.98);
  transition: opacity 64ms transform 128ms cubic-bezier(0.43, 0.09, 0.38, 2.56);
  pointer-events: none;
  color: #fff;
  z-index: 1000;
}
.quicklildiv::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background: #1a191d;
  width: 1rem;
  height: 1rem;
  z-index: -1;
}

.quicklildiv p {
  color: #fff;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
