.server-settings {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn-delete-server {
  background-color: #313339;
  border: none;
  font-size: 1.5rem;
  letter-spacing: .015rem;
  color: red;
  cursor: pointer;
  font-family: "Whitney Semibold Regular";
}

.label-edit-server {
  font: inherit;
  font-size: 1.5rem;
  color: white;
}

.edit-server-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  background-color: #36393F;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* .edit-server-modal h1 {
  background-color: #36393F;
} */

/* .edit-server-modal {
} */

.edit-server-form h1 {
  text-align: center important;
  color: rgb(142, 146, 151);
}

.submit-edit-server-modal {
  border: none;
  background-color: #5865f2;
  border-radius: 0.5rem;
  color: rgb(250, 250, 251);
  padding: 1.1rem 3rem;
  font-family: "Whitney Semibold Regular";
  letter-spacing: 0.03rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
}
