.server-channel-settings {
  border: none;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.server-channel-settings .actionIcon-PgcMM2 {
  color: #fff;
}
.server-channel:hover .actionIcon-PgcMM2 {
  color: rgb(142, 146, 151);
}
.current-active-channel-bg:hover .actionIcon-PgcMM2 {
  color: rgb(255, 255, 255);
}
