#member-popout {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#member-popout-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#member-popout-content {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
